#content h2{
  font-size: 19px;
}
#content span{
  font-size: 22px;
  font-weight: 500;
}
.catal_page{
  width: 260px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
}
#rooow{
  display: flex;
  justify-content: space-around;
}
.catal_page img{
  width: 100%;
  height: 84%;
  transition: 0.2s;
}
.catal_page a{
  color: black;
  font-weight: bold;
  transition: 0.2s
}
.catal_page a:hover{
  color: red;
  text-decoration: none;

}
.catal_page a img:hover{
  transform: scale(1.1);
  border-radius: 5px;
}